@import "tailwindcss";

header {

  .container {
    max-width: 100%;
    max-height: 150px;
    background: linear-gradient(to right, #AA895F, #708F96);

    img {
      width: 150px;
    }

    .add-contain {

      width: 250px;

      .add {
        color: white;
        width: 400px;
      }

    }
  }
}


footer {

  .container {
    max-width: 100%;
    max-height: 150px;
    background: linear-gradient(to right, #AA895F, #708F96);

    img {
      width: 150px;
    }

    .add-contain {

      width: 250px;

      .add {
        color: white;
        width: 400px;
      }

    }
  }
}

h1 {
  color: #918C77;
}

.search-button {
  background-color: #708F96;
}