@import "tailwindcss";

/* <weight>: Use a value from 300 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

.jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {

  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  .container {
    max-width: 100%;
    max-height: 150px;
    background: linear-gradient(to right, #AA895F, #708F96);

    img {
      width: 150px;
    }

    .add-contain {

      width: 250px;

      .add {
        color: white;
        width: 400px;
      }

    }
  }
}

main {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


footer {

  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

  .container {
    max-width: 100%;
    max-height: 150px;
    background: linear-gradient(to right, #AA895F, #708F96);

    .add-contain {

      width: 250px;

      .add {
        color: white;
        width: 400px;
      }

    }
  }
}

h1 {
  color: white;
}

.search-button {
  background-color: #708F96;
}

.bar {
  background-image: url('/sfondo.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.search-position {
  position: absolute;
  bottom: -25px;
}


/* SearchPage Price Slider */

.style-slider .rc-slider-rail {
  background-color: transparent;
}

.style-slider .rc-slider-track {
  background-color: rgb(170, 137, 95);
  height: 6px;
}

.style-slider .rc-slider-handle {
  width: 18px;
  height: 18px;
  border: 3px solid rgb(90, 70, 50);
  background-color: rgb(61, 44, 30);
  box-shadow: none;
  opacity: 1;
}

.style-slider .rc-slider-handle:hover {
  border-color: rgb(76, 58, 40);
  background-color: rgb(44, 29, 20);
}